{% extends "wcs_server_base.html" %}
{% load static %}

{% block extra_head_content %}
    <title>Thank You!</title>
{% endblock extra_head_content %}

{% block content %}
    <h4>Thank you!</h4>
    <div class="well well-sm col-sm-6">
        <div class="row top-buffer">
            <div class="col-sm-12">
                <p>Your contribution goes a long way towards making this project possible, and I cannot thank you enough
                    for taking the time to help!<br>
                As this site grows, and as I have new findings to share, I will reach out to the community and let
                everyone know what's been added.<br><br>
                All the best,<br><br>
                Virgil</p>
            </div>
        </div>
    </div>
{% endblock content %}