{% extends "wcs_server_base.html" %}
{% load static %}
{% load rest_framework %}

{% block extra_head_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'whatiswcs/css/whatiswcs.css' %}" />

    <title>What Is WCS</title>
{% endblock extra_head_content %}

{% block content %}
<div class="well-sm col-sm-6">
    <form class="form-inline" action="/api/song-and-dancer/" method="POST">
        {% csrf_token %}
        {{ songAndDancer.non_field_errors }}
        <h3>Song Information</h3>
        <div class="well well-sm col-sm-12">
            <div class="row">
                <div class="col-sm-2">
                    <strong>{{ songAndDancer.title.label }}</strong>
                </div>
                <div class="col-sm-10">
                    {{ songAndDancer.title }}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-2">
                    <strong>{{ songAndDancer.artist.label }}</strong>
                </div>
                <div class="col-sm-10">
                    {{ songAndDancer.artist }}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-2">
                    <strong>{{ songAndDancer.song_url.label }}</strong>
                </div>
                <div class="col-sm-10">
                    {{ songAndDancer.song_url }}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-2">
                    <strong>{{ songAndDancer.features.label }}</strong>
                </div>
                <div class="col-sm-10">
                    {{ songAndDancer.features }}
                </div>
            </div>
        </div>

        <h3>Dancer Information</h3>
        <div class="well well-sm col-sm-12">
            <div class="row top-buffer">
                <div class="col-sm-6 pull-left">
                    <strong>{{ songAndDancer.primary_dance_role.label }}</strong>

                </div>
                <div class="col-sm-6 pull-right">
                    {{ songAndDancer.primary_dance_role }}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-6 pull-left">
                    <strong>{{ songAndDancer.competitive_level.label }}</strong>

                </div>
                <div class="col-sm-6 pull-right">
                    {{ songAndDancer.competitive_level }}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-6 pull-left">
                    <strong>{{ songAndDancer.years_dancing.label }} </strong>

                </div>
                <div class="col-sm-6 pull-right">
                    {{ songAndDancer.years_dancing }}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-6 pull-left">
                    <strong>{{ songAndDancer.age.label }} </strong>

                </div>
                <div class="col-sm-6 pull-right">
                    {{ songAndDancer.age }}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-6 pull-left">
                    <strong>{{ songAndDancer.dj.label }}</strong>
                </div>
                <div class="col-sm-6 pull-right">
                    {{ songAndDancer.dj }}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-6 pull-left">
                    <strong>{{ songAndDancer.teacher.label }} </strong>
                </div>
                <div class="col-sm-6 pull-right">
                    {{ songAndDancer.teacher }}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-6 pull-left">
                    <strong>{{ songAndDancer.region.label }} </strong>
                </div>
                <div class="col-sm-6 pull-right">
                    {{ songAndDancer.region }}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-6 pull-left">
                    <strong>{{ songAndDancer.other_dance_styles.label }} </strong>
                </div>
                <div class="col-sm-6 pull-right">
                    {{ songAndDancer.other_dance_styles }}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="btn pull-right">
                    <input type="submit" value="Submit, for science! And Dancing.">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
