{% extends "wcs_server_base.html" %}
{% load static %}
{% load rest_framework %}

{% block extra_head_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'whatiswcs/css/whatiswcs.css' %}" />

    <title>What Is WCS</title>
{% endblock extra_head_content %}

{% block content %}

    <form class="form-horizontal" action="/api/song-and-dancer/" method="POST">
        {% csrf_token %}
        {{ songAndDancer.non_field_errors }}
        <div class="form-group">
            <div class="col-lg-10">
                <strong>{{ songAndDancer.title.label }}</strong> {{ songAndDancer.title }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <strong>{{ songAndDancer.artist.label }}</strong>{{ songAndDancer.artist }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <strong>{{ songAndDancer.song_url.label }}&nbsp;</strong>{{ songAndDancer.song_url }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <strong>{{ songAndDancer.features.label }}&nbsp;</strong>{{ songAndDancer.features }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <strong>{{ songAndDancer.primary_dance_role.label }} </strong>
                {{ songAndDancer.primary_dance_role }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <strong>{{ songAndDancer.competitive_level.label }} </strong>
                {{ songAndDancer.competitive_level }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <strong>{{ songAndDancer.years_dancing.label }} </strong>
                {{ songAndDancer.years_dancing }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <strong>{{ songAndDancer.age.label }} </strong>
                {{ songAndDancer.age }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <strong>{{ songAndDancer.dj.label }}</strong>
                {{ songAndDancer.dj }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <strong>{{ songAndDancer.teacher.label }} </strong>
                {{ songAndDancer.teacher }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <strong>{{ songAndDancer.region.label }} </strong>
                {{ songAndDancer.region }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <strong>{{ songAndDancer.other_dance_styles.label }} </strong>
                {{ songAndDancer.other_dance_styles }}
            </div>
        </div>
        <input type="submit" value="Submit, for science! And Dancing.">
    </form>

{% endblock content %}
