{% extends "wcs_server_base.html" %}
{% load static %}

{% block extra_head_content  %}
    <link rel='stylesheet' href="{% static 'djcalendar/css/fullcalendar.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'djcalendar/css/djcalendar.css' %}" />

    <script src="{% static 'djcalendar/javascript/moment.min.js' %}"></script>
    <script src="{% static 'djcalendar/javascript/fullcalendar.min.js' %}"></script>
    <script src="{% static 'djcalendar/javascript/djcalendar.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DJing Calendar</title>
{% endblock extra_head_content %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">DJ Event Schedule</div>
        <div class="panel-body pull-left">
            <div id='calendar'></div>
        </div>
    </div>
{% endblock content %}